<center>
<h2>Valentina's</h2>
<br>
<img src= "http://rrppmaster.uab.es/wp-content/uploads/2015/07/moda.jpg"/>
<br><br><br><br>
<p>Binvenida a Valentina's, donde podras adquirir la moda mas deseada de la temporada.</p>
<p>Registra un nuevo usuario o ingresa para poder realizar tus pedidos.</p>

</center>
